.mat-form-field {
    width: 100%;
    min-width: 500px;
}

.form-login {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
}

mat-card-title, mat-card-content {
    top: 500px;
    display: flex;
    justify-content: center;
}
.my-custom-snackbar {
    margin: 0 !important;
    position: absolute;
    right: 25px;
    top: 60px;
}

.button-100 {
    width: 100%;
}
