<body>
  
  <div class="wrapper">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../../../assets/img/sidebar-1.jpg">
      <div class="logo"><a class="simple-text logo-normal">
        Blue Wallet
      </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard']">
              <i class="material-icons">dashboard</i>
              <p>DASHBOARD</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/receitas']">
              <i class="material-icons">paid</i>
              <p>RECEITAS</p>
            </a>
          </li>
          <li class="nav-item ">
          <a class="nav-link" href="./tables.html">
            <i class="material-icons">money_off</i>
            <p>DESPESAS</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="./tables.html">
            <i class="material-icons">logout</i>
            <p>SAIR</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="main-panel">
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <a class="navbar-brand" href="javascript:;">Receitas</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
          Bem vindo Thayson Rodrigues        
        </div>
      </div>
    </nav>
    
    <div class="content">
      <div class="container-fluid">
        <div class="row">        
          <div class="col-md-12">
            <table style="width: 100%;" mat-table [dataSource]="listLancamentoReceita" class="mat-elevation-z8">
              
              <!-- Position Column -->
              <ng-container matColumnDef="idReceita">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.idReceita}} </td>
              </ng-container>

              <ng-container matColumnDef="Categoria">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.categoriaReceita}} </td>
              </ng-container>
            
              
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>  
          
          <div class="col-md-12">
            <button type="button" (click)="openDialog()" class="btn btn-primary float-right backgroundAzul" style="background-color: #3F51B5; ">
              NOVA RECEITA
            </button>
          </div>        
        </div>
      </div>
    </div>
  </div>
</div>
</body>