<div class="wrapper ">
  <div class="sidebar" data-color="purple" data-background-color="white" data-image="../../../assets/img/sidebar-1.jpg">
    <div class="logo"><a class="simple-text logo-normal">
        Blue Wallet
      </a></div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard']">
            <i class="material-icons">dashboard</i>
            <p>DASHBOARD</p>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/receitas']">
            <i class="material-icons">paid</i>
            <p>RECEITAS</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="./tables.html">
            <i class="material-icons">money_off</i>
            <p>DESPESAS</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="./tables.html">
            <i class="material-icons">logout</i>
            <p>SAIR</p>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="main-panel">
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <a class="navbar-brand" href="javascript:;">Receitas</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
          Bem vindo Thayson Rodrigues        
        </div>
      </div>
    </nav>

    <div class="content">
      <div class="container-fluid">
        <div class="row">        
          <div class="col-md-12">
            <table class="table">
              <thead>
                  <tr>
                      <th class="text-center">#</th>
                      <th>Name</th>
                      <th>Job Position</th>
                      <th>Since</th>
                      <th class="text-right">Salary</th>
                      <th class="text-right">Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td class="text-center">1</td>
                      <td>Andrew Mike</td>
                      <td>Develop</td>
                      <td>2013</td>
                      <td class="text-right">&euro; 99,225</td>
                      <td class="td-actions text-right">
                          <button type="button" rel="tooltip" class="btn btn-info">
                              <i class="material-icons">person</i>
                          </button>
                          <button type="button" rel="tooltip" class="btn btn-success">
                              <i class="material-icons">edit</i>
                          </button>
                          <button type="button" rel="tooltip" class="btn btn-danger">
                              <i class="material-icons">close</i>
                          </button>
                      </td>
                  </tr>
                  <tr>
                      <td class="text-center">2</td>
                      <td>John Doe</td>
                      <td>Design</td>
                      <td>2012</td>
                      <td class="text-right">&euro; 89,241</td>
                      <td class="td-actions text-right">
                          <button type="button" rel="tooltip" class="btn btn-info btn-round">
                              <i class="material-icons">person</i>
                          </button>
                          <button type="button" rel="tooltip" class="btn btn-success btn-round">
                              <i class="material-icons">edit</i>
                          </button>
                          <button type="button" rel="tooltip" class="btn btn-danger btn-round">
                              <i class="material-icons">close</i>
                          </button>
                      </td>
                  </tr>
                  <tr>
                      <td class="text-center">3</td>
                      <td>Alex Mike</td>
                      <td>Design</td>
                      <td>2010</td>
                      <td class="text-right">&euro; 92,144</td>
                      <td class="td-actions text-right">
                          <button type="button" rel="tooltip" class="btn btn-info btn-simple">
                              <i class="material-icons">person</i>
                          </button>
                          <button type="button" rel="tooltip" class="btn btn-success btn-simple">
                              <i class="material-icons">edit</i>
                          </button>
                          <button type="button" rel="tooltip" class="btn btn-danger btn-simple">
                              <i class="material-icons">close</i>
                          </button>
                      </td>
                  </tr>
              </tbody>
          </table>
          </div>       
            <div class="col-md-12">
              <button type="button" (click)="openDialog()" class="btn btn-primary float-right backgroundAzul" style="background-color: #3F51B5; ">
                NOVA RECEITA
              </button>
            </div>        
        </div>
      </div>
    </div>
  </div>
</div>