<div class="container">
    
    <h1>Nova Receita</h1>
    
    <hr>
    
    <form [formGroup]="receitaForm">
        <div class="row">
            <div class="col-md-12">
                <mat-form-field>
                    <input type="text" matInput placeholder="Descrição">
                </mat-form-field>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <mat-form-field>
                    <input type="number" matInput placeholder="Valor">
                </mat-form-field>
            </div>
        
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Data de lançamento</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="data_nascimento">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-6">
                <mat-form-field>
                    <input type="text" matInput placeholder="Categoria">
                </mat-form-field>
            </div>
            
            <div class="col-md-6">
                <mat-form-field>
                    <input type="number" matInput placeholder="Quantidade de parcelas">
                </mat-form-field>
            </div>
        </div>
    
        <div class="row">           
            <div class="col-md-6 slidePago">
                <mat-label>{{receitaForm.get('despesaPaga').value ? 'Receita foi paga' : 'Receita não foi paga'}}</mat-label>
                <mat-slide-toggle class="float-right" color="primary" formControlName="despesaPaga">
                </mat-slide-toggle>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-12 btnSalvar">          
                <button class="float-right" color="primary" mat-raised-button>SALVAR</button>      
            </div>
        </div> 
    </form>
</div>