<div class="container">
    
    <h1>{{ descricaoAcao }}</h1>
    
    <hr>
    
    <form [formGroup]="receitaForm">
        <div class="row">
            <div class="col-md-12">
                <mat-form-field>
                    <input type="text" matInput placeholder="Descrição" formControlName="descricao">
                </mat-form-field>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <mat-form-field>
                    <input 
                        type="text" 
                        matInput 
                        currencyMask 
                        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" 
                        placeholder="Valor"
                        formControlName="valor">
                </mat-form-field>
            </div>
        
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Data de lançamento</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dataLancamento">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Categoria</mat-label>
                    <mat-select formControlName="categoriaReceita">
                      <mat-option *ngFor="let categoria of listCategoriaReceita" 
                            [value]="categoria.id">
                        {{categoria.descricao}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            
            <div class="col-md-6">
                <mat-form-field>
                    <input type="number" matInput placeholder="Quantidade de parcelas" formControlName="quantidadeParcelas">
                </mat-form-field>
            </div>
        </div>
    
        <div class="row">           
            <div class="col-md-6 slidePago">
                <mat-label>{{receitaForm.get('despesaPaga').value ? 'Receita foi paga' : 'Receita não foi paga'}}</mat-label>
                <mat-slide-toggle class="float-right" color="primary" formControlName="despesaPaga">
                </mat-slide-toggle>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-12 btnSalvar">          
                <button (click)="gravarLancamentoReceita()" class="float-right" color="primary" mat-raised-button>SALVAR</button>      
            </div>
        </div> 
    </form>
</div>