<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Blue Wallet</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', primaryColour: '#ffffff'}" ></ngx-loading>
  
  <div class="form-login">
    <mat-card>
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <form [formGroup]="loginForm">
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Email" formControlName="email">
            </mat-form-field>
          </p>
  
          <p>
            <mat-form-field>
              <input type="password" matInput placeholder="Senha" formControlName="senha">
            </mat-form-field>
          </p>
          
          <div>
            <button class="button-100" (click)="login()" color="primary" mat-raised-button>LOGIN</button>      
          </div>
          
          <div class="button-cadastrar">
            <hr />
            <button type="button" class="button-100" (click)="loginWithGoogle()" color="primary" mat-raised-button> <i class="bi bi-google"></i> CONTINUAR COM O GOOGLE</button>
          </div>  
          
          <div class="button-cadastrar-facebook">
            <button class="button-100" routerLink="/cadastro"  color="primary" mat-raised-button>CRIAR NOVA CONTA</button>  
          </div>  
        </form>
      </mat-card-content>
    </mat-card>
  </div>  