<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Blue Wallet</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="form-login">
    <mat-card>
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <form>
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Email">
            </mat-form-field>
          </p>
  
          <p>
            <mat-form-field>
              <input type="password" matInput placeholder="Senha">
            </mat-form-field>
          </p>
          
          <div>
            <button class="button-100" color="primary" mat-raised-button>LOGIN</button>      
          </div>

          <div class="button-cadastrar">
            <hr />
            <button class="button-100" routerLink="/cadastro"  color="primary" mat-raised-button>CRIAR NOVA CONTA</button>  
          </div>        
        </form>
      </mat-card-content>
    </mat-card>
  </div>  