/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

.backgroundAzul {
    background-color: #3F51B5;
}

.slidePago {
  color: #A1A1A1;
  padding-top: 10px;
}

.btnSalvar {
  padding-top: 15px;
}

.teste {
  background-color: #3F51B5;
  color: white;
  font-size: 11pt !important;
}

.table {
  border-radius: 5px;
}

.situacaoPaga {
    color: green;
}

.situacaoPendente {
    color: red;
}

.fundoCinza {
    background-color: #EEEEEE;
}
